.MainPage {
    position: relative;
}

.ItemsWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemsList {
    list-style: none;
    padding-left: 0;
    margin: 0;
    width: 100%;
}

.ButtonWrap {
    position: absolute;
    bottom: -70px;
}